@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");
.hidden {
  visibility: hidden;
}

.hidden-visually {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

.p-x {
  max-width: 80rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 48rem) {
  .p-x {
    padding: unset;
    margin: 0 2.5rem;
  }
}

@media (min-width: 64rem) {
  .p-x {
    margin: 0 5rem;
  }
}

@media (min-width: 90rem) {
  .p-x {
    margin: auto;
  }
}

.m-x {
  max-width: 80rem;
  margin: 0 1.5rem;
}

@media (min-width: 48rem) {
  .m-x {
    margin: 0 2.5rem;
  }
}

@media (min-width: 64rem) {
  .m-x {
    margin: 0 5rem;
  }
}

@media (min-width: 90rem) {
  .m-x {
    margin: auto;
  }
}

.m-b-med {
  margin-bottom: 7.5rem;
}

@media (min-width: 48rem) {
  .m-b-med {
    margin-bottom: 9rem;
  }
}

@media (min-width: 90rem) {
  .m-b-med {
    margin-bottom: 10.5rem;
  }
}

.m-b-lg {
  margin-bottom: 7.5rem;
}

@media (min-width: 48rem) {
  .m-b-lg {
    margin-bottom: 9rem;
  }
}

@media (min-width: 90rem) {
  .m-b-lg {
    margin-bottom: 12.5rem;
  }
}

html {
  font-size: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fefcf7;
  font-family: "Barlow", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #2C343E;
}

body.noscroll {
  overflow: hidden;
}

@media (min-width: 90rem) {
  body {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

h1, h2, h3, h4 {
  font-family: "Fraunces", serif;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #0e8784;
  border: 0;
  border-radius: 0.5rem;
  text-decoration: none;
  font-family: "Fraunces", serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #fefcf7;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.button:hover {
  background-color: #66d2cf;
}

.button:focus {
  outline: 0;
  background-color: #66d2cf;
}

.button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.button-disabled {
  border: 0;
  background-color: #e2dedb;
  cursor: not-allowed;
}

.button-disabled:hover {
  background-color: #e2dedb;
}

.mobile-nav {
  position: absolute;
  height: 100vh;
  top: 5rem;
  right: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #fefcf7), to(rgba(254, 252, 247, 0.56)));
  background-image: linear-gradient(#fefcf7 35%, rgba(254, 252, 247, 0.56));
  z-index: 4;
}

@media (min-width: 48rem) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav__toggle {
  position: relative;
  height: 3rem;
  width: 3rem;
  padding: 1rem;
  border: 0;
  background: transparent;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.mobile-nav__toggle img {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 48rem) {
  .mobile-nav__toggle {
    display: none;
  }
}

.mobile-nav__list {
  list-style-type: none;
  padding: 2.5rem 0;
}

.mobile-nav__link {
  display: block;
  padding-bottom: 2.5rem;
  text-align: center;
  text-decoration: none;
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #2C343E;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 48rem) {
  .header {
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
  }
}

@media (min-width: 90rem) {
  .header {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
  }
}

.header__logo {
  position: relative;
  display: block;
  width: 10.25rem;
}

@media (min-width: 48rem) {
  .header__logo {
    width: 14.75rem;
  }
}

.header__logo::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  height: 0px;
  width: 0%;
  background-color: #2C343E;
  -webkit-transition: height 200ms ease-in-out, width 200ms ease-in-out;
  transition: height 200ms ease-in-out, width 200ms ease-in-out;
}

.header__logo:focus {
  outline: 0;
}

.header__logo:focus::after {
  height: 3px;
  width: 100%;
}

.header__logo__img {
  height: 100%;
  width: 100%;
}

.header__nav {
  display: none;
}

@media (min-width: 48rem) {
  .header__nav {
    display: block;
  }
}

.header__nav__item {
  display: inline-block;
}

.header__nav__link {
  position: relative;
  display: block;
  margin-left: 2rem;
  text-decoration: none;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  color: #83888f;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.header__nav__link::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  height: 0px;
  width: 0%;
  background-color: #2C343E;
  -webkit-transition: height 200ms ease-in-out, width 200ms ease-in-out;
  transition: height 200ms ease-in-out, width 200ms ease-in-out;
}

.header__nav__link:hover {
  color: #2C343E;
}

.header__nav__link:focus {
  outline: 0;
  color: #2C343E;
}

.header__nav__link:focus::after {
  height: 2px;
  width: 100%;
}

.footer {
  margin-bottom: 4.5rem;
  background-color: #2C343E;
  text-align: center;
  padding: 3.375rem 0;
}

@media (min-width: 64rem) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    justify-items: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem 3.625rem;
  }
}

@media (min-width: 90rem) {
  .footer {
    padding: 3rem 5.3125rem;
  }
}

.footer__logo {
  max-width: 90%;
  margin: auto;
  padding-bottom: 3rem;
}

@media (min-width: 23rem) {
  .footer__logo {
    max-width: 100%;
  }
}

@media (min-width: 48rem) {
  .footer__logo {
    padding-bottom: 2rem;
  }
}

@media (min-width: 64rem) {
  .footer__logo {
    padding-bottom: 0;
  }
}

.footer__logo__img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}

.footer__logo__img path:first-of-type {
  fill: #fff;
}

.footer__nav {
  width: 100%;
}

@media (min-width: 64rem) {
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__nav__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.5rem;
}

@media (min-width: 48rem) {
  .footer__nav__main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 64rem) {
  .footer__nav__main {
    margin-bottom: 0;
    margin-left: 4rem;
  }
}

.footer__nav__item {
  padding-bottom: 1.5rem;
}

@media (min-width: 48rem) {
  .footer__nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1rem;
  }
}

.footer__nav__link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 0.9375rem;
  color: #83888f;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.footer__nav__link::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  height: 0px;
  width: 0%;
  background-color: #fefcf7;
  -webkit-transition: height 200ms ease-in-out, width 200ms ease-in-out;
  transition: height 200ms ease-in-out, width 200ms ease-in-out;
}

.footer__nav__link:hover {
  color: #fefcf7;
}

.footer__nav__link:focus {
  outline: 0;
  color: #fefcf7;
}

.footer__nav__link:focus::after {
  height: 2px;
  width: 100%;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
}

.footer__social__link svg path {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.footer__social__link::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  height: 0px;
  width: 0%;
  background-color: #fdd6ba;
  -webkit-transition: height 200ms ease-in-out, width 200ms ease-in-out;
  transition: height 200ms ease-in-out, width 200ms ease-in-out;
}

.footer__social__link:hover svg path {
  fill: #fdd6ba;
}

.footer__social__link:focus {
  outline: 0;
}

.footer__social__link:focus svg path {
  fill: #fdd6ba;
}

.footer__social__link:focus::after {
  height: 2px;
  width: 100%;
}

.hero {
  max-width: 80rem;
  margin-bottom: 7.5rem;
  padding: 6.25rem 1.5rem;
  background-image: url("/assets/home/mobile/image-hero-coffeepress.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.625rem;
  text-align: center;
}

@media (min-width: 48rem) {
  .hero {
    margin-bottom: 9rem;
    padding: 6.5rem 14.5rem 6.5rem 3.625rem;
    background-image: url("/assets/home/tablet/image-hero-coffeepress.jpg");
    text-align: left;
  }
}

@media (min-width: 90rem) {
  .hero {
    margin-bottom: 8.5rem;
    padding: 7.25rem 43.875rem 7.25rem 5.3125rem;
    background-image: url("/assets/home/desktop/image-hero-coffeepress.jpg");
  }
}

.hero__heading {
  max-width: 23rem;
  margin: 0 auto 1.5rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #fefcf7;
}

@media (min-width: 48rem) {
  .hero__heading {
    max-width: 28rem;
    margin-left: 0;
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media (min-width: 90rem) {
  .hero__heading {
    max-width: 31rem;
  }
}

.hero__tagline {
  max-width: 23rem;
  margin: 0 auto 2.5rem;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: #fefcf7;
  opacity: 0.8;
}

@media (min-width: 48rem) {
  .hero__tagline {
    max-width: 33rem;
    margin-left: 0;
  }
}

@media (min-width: 90rem) {
  .hero__tagline {
    max-width: 26rem;
  }
}

.collection {
  position: relative;
  text-align: center;
}

.collection__heading {
  position: relative;
  padding-bottom: 1.5rem;
  font-size: 2.25rem;
  line-height: 4.5rem;
  color: #83888f;
}

@media (min-width: 48rem) {
  .collection__heading {
    padding-bottom: 0;
    font-size: 6rem;
    line-height: 4.5rem;
  }
}

@media (min-width: 90rem) {
  .collection__heading {
    font-size: 9.375rem;
  }
}

.collection__heading::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 2.5rem;
  right: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 252, 247, 0.0001)), to(#fefcf7));
  background-image: linear-gradient(rgba(254, 252, 247, 0.0001) 0%, #fefcf7 100%);
}

@media (min-width: 48rem) {
  .collection__heading::after {
    top: -6rem;
    bottom: -2rem;
  }
}

.collection__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 48rem) {
  .collection__list {
    margin-top: -1.5rem;
  }
}

@media (min-width: 90rem) {
  .collection__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -1rem;
    padding: 0 5.75rem;
  }
}

.collection__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collection__item:not(:last-child) {
  margin-bottom: 3rem;
}

@media (min-width: 48rem) {
  .collection__item:not(:last-child) {
    margin-bottom: 2rem;
  }
}

@media (min-width: 90rem) {
  .collection__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 48rem) {
  .collection__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 90rem) {
  .collection__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 15.9375rem;
  }
}

.collection__item__pic {
  height: 9.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 48rem) {
  .collection__item__pic {
    height: 12rem;
    margin-bottom: 0;
  }
}

.collection__item__img {
  display: block;
  margin: auto;
  height: 100%;
}

@media (min-width: 48rem) {
  .collection__item__info {
    text-align: left;
  }
}

@media (min-width: 90rem) {
  .collection__item__info {
    text-align: center;
  }
}

.collection__item__heading {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 48rem) {
  .collection__item__heading {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 90rem) {
  .collection__item__heading {
    margin-top: 4.5rem;
  }
}

.collection__item__description {
  max-width: 20rem;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

@media (min-width: 90rem) {
  .collection__item__description {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

.why-us {
  position: relative;
  padding: 4rem 1.5rem 0;
  text-align: center;
}

@media (min-width: 48rem) {
  .why-us {
    padding: 3.5rem 3.625rem 0;
  }
}

@media (min-width: 90rem) {
  .why-us {
    padding: 6.25rem 5.3125rem 0;
  }
}

.why-us::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 62%;
  border-radius: 0.625rem;
  background-color: #2C343E;
  z-index: -1;
}

@media (min-width: 48rem) {
  .why-us::before {
    height: 68%;
  }
}

.why-us__heading {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  line-height: 1.75rem;
  color: #fefcf7;
}

@media (min-width: 48rem) {
  .why-us__heading {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media (min-width: 90rem) {
  .why-us__heading {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
}

.why-us__tagline {
  max-width: 35rem;
  margin: 0 auto 4rem;
  color: #fefcf7;
}

@media (min-width: 48rem) {
  .why-us__tagline {
    margin-bottom: 4.375rem;
  }
}

@media (min-width: 90rem) {
  .why-us__tagline {
    max-width: 33.75;
    margin-bottom: 5.375rem;
  }
}

@media (min-width: 64rem) {
  .why-us__benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.why-us__card {
  padding-bottom: 3.25rem;
  padding-top: 4.5rem;
  border-radius: 0.5rem;
  background-color: #0e8784;
}

@media (min-width: 48rem) {
  .why-us__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.5rem 0;
  }
}

@media (min-width: 64rem) {
  .why-us__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4.5rem 0 3rem;
  }
}

.why-us__card:not(:last-child) {
  margin-bottom: 1.5rem;
}

@media (min-width: 64rem) {
  .why-us__card:not(:last-child) {
    margin-bottom: 0;
    margin-right: 1.875rem;
  }
}

.why-us__card__img {
  margin-bottom: 3.5rem;
}

@media (min-width: 48rem) {
  .why-us__card__img {
    margin: 0;
    padding: 0 3.25rem 0 4.375rem;
  }
}

@media (min-width: 64rem) {
  .why-us__card__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin-bottom: 3.5rem;
    height: 4.5rem;
    text-align: center;
  }
}

@media (min-width: 64rem) {
  .why-us__card__copy {
    text-align: center;
  }
}

.why-us__card__heading {
  padding: 0 1rem 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fefcf7;
}

@media (min-width: 23rem) {
  .why-us__card__heading {
    padding: 0 0 1.5rem;
  }
}

@media (min-width: 48rem) {
  .why-us__card__heading {
    padding-bottom: 1rem;
  }
}

.why-us__card__tagline {
  max-width: 26.25rem;
  margin: auto;
  padding: 0 2rem;
  color: #fefcf7;
}

@media (min-width: 48rem) {
  .why-us__card__tagline {
    max-width: unset;
    padding: 0;
    padding-right: 3rem;
  }
}

@media (min-width: 64rem) {
  .why-us__card__tagline {
    padding: 0 3rem;
  }
}

.about-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7rem 1.5rem 5.5rem;
  border-radius: 0.625rem;
  background-image: url("/assets/about/mobile/image-hero-whitecup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  text-align: center;
}

@media (min-width: 48rem) {
  .about-hero {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 7.375rem 3.625rem;
    background-image: url("/assets/about/tablet/image-hero-whitecup.jpg");
    text-align: left;
  }
}

@media (min-width: 64rem) {
  .about-hero {
    padding: 8.5rem 5.3125rem;
    background-image: url("/assets/about/desktop/image-hero-whitecup.jpg");
  }
}

.about-hero__headline {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  line-height: 1.75rem;
  color: #fefcf7;
}

@media (min-width: 48rem) {
  .about-hero__headline {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 64rem) {
  .about-hero__headline {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

.about-hero__tagline {
  max-width: 26rem;
  color: #fefcf7;
  opacity: 0.8;
}

.about-commitment {
  text-align: center;
}

@media (min-width: 48rem) {
  .about-commitment {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.2fr;
        grid-template-columns: 1fr 1.2fr;
    gap: 4.25rem;
    text-align: left;
  }
}

@media (min-width: 64rem) {
  .about-commitment {
    padding: 0 5.3125rem;
    -ms-grid-columns: 1fr 1.2fr;
        grid-template-columns: 1fr 1.2fr;
    gap: 7.75rem;
  }
}

.about-commitment__img {
  margin-bottom: 3rem;
  height: 25rem;
  width: 100%;
  border-radius: 0.625rem;
  background-image: url("/assets/about/mobile/image-commitment.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 48rem) {
  .about-commitment__img {
    height: 29.375rem;
    margin-bottom: 0;
    background-image: url("/assets/about/tablet/image-commitment.jpg");
  }
}

@media (min-width: 64rem) {
  .about-commitment__img {
    height: 32.5rem;
    background-image: url("/assets/about/desktop/image-commitment.jpg");
  }
}

@media (min-width: 64rem) {
  .about-commitment__copy {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.about-commitment__headline {
  margin-bottom: 1.875rem;
  font-size: 2rem;
  line-height: 3rem;
}

.about-quality {
  position: relative;
  padding: 0 1.5rem 3.75rem;
  text-align: center;
}

@media (min-width: 48rem) {
  .about-quality {
    padding: 0 3.625rem 4.25rem;
  }
}

@media (min-width: 64rem) {
  .about-quality {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 5.3125rem 5.5rem;
  }
}

.about-quality::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 88%;
  border-radius: 0.625rem;
  background-color: #2C343E;
  z-index: -1;
}

@media (min-width: 48rem) {
  .about-quality::before {
    height: 76%;
  }
}

@media (min-width: 64rem) {
  .about-quality::before {
    height: 86%;
  }
}

.about-quality__img {
  display: block;
  margin: auto;
  height: 9.75rem;
  max-width: 21rem;
  margin-bottom: 4rem;
  border-radius: 0.625rem;
  background-image: url("/assets/about/mobile/image-quality.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 48rem) {
  .about-quality__img {
    height: 20rem;
    max-width: 40rem;
    background-image: url("/assets/about/tablet/image-quality.jpg");
  }
}

@media (min-width: 64rem) {
  .about-quality__img {
    margin: 0;
    height: 29.625rem;
    max-width: unset;
    width: 27.8125rem;
  }
}

@media (min-width: 64rem) {
  .about-quality__copy {
    padding-top: 11rem;
    padding-right: 6rem;
    max-width: 31rem;
    text-align: left;
  }
}

@media (min-width: 90rem) {
  .about-quality__copy {
    max-width: 33.75rem;
  }
}

.about-quality__heading {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  line-height: 2rem;
  color: #fefcf7;
}

@media (min-width: 23rem) {
  .about-quality__heading {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.about-quality__text {
  color: #fefcf7;
  opacity: 0.8;
}

@media (min-width: 48rem) {
  .about-quality__text {
    padding: 0 0.875rem;
  }
}

@media (min-width: 64rem) {
  .about-quality__text {
    padding: 0;
  }
}

.about-headquarters {
  text-align: center;
}

@media (min-width: 48rem) {
  .about-headquarters {
    text-align: left;
  }
}

@media (min-width: 64rem) {
  .about-headquarters {
    padding: 0 5.3125rem;
  }
}

.about-headquarters__heading {
  margin-bottom: 4.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #83888f;
}

@media (min-width: 48rem) {
  .about-headquarters__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about-headquarters__item:not(:last-of-type) {
  margin-bottom: 5rem;
}

@media (min-width: 48rem) {
  .about-headquarters__item:not(:last-of-type) {
    margin-bottom: 0;
  }
}

@media (min-width: 48rem) {
  .about-headquarters__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.about-headquarters__img {
  display: inline-block;
  margin-bottom: 3rem;
}

.about-headquarters__country {
  margin-bottom: 1.25rem;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.about-headquarters__address span {
  display: block;
  font-size: 1rem;
  line-height: 1.75rem;
  font-style: normal;
}

.plan-hero {
  padding: 6.25rem 1.5rem 8.5rem;
  border-radius: 0.625rem;
  background-image: url("/assets/plan/mobile/image-hero-blackcup.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

@media (min-width: 48rem) {
  .plan-hero {
    padding: 8rem 3.625rem 7.75rem;
    background-image: url("/assets/plan/tablet/image-hero-blackcup.jpg");
    text-align: left;
  }
}

@media (min-width: 64rem) {
  .plan-hero {
    padding: 8.5rem 5.3125rem;
    background-image: url("/assets/plan/desktop/image-hero-blackcup.jpg");
  }
}

.plan-hero__heading {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #fefcf7;
}

@media (min-width: 48rem) {
  .plan-hero__heading {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media (min-width: 64rem) {
  .plan-hero__heading {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}

@media (min-width: 90rem) {
  .plan-hero__heading {
    margin-bottom: 2rem;
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}

.plan-hero__tagline {
  max-width: 26.25rem;
  margin: auto;
  color: #fefcf7;
  opacity: 0.8;
}

@media (min-width: 48rem) {
  .plan-hero__tagline {
    margin: unset;
    padding-right: 4rem;
  }
}

@media (min-width: 90rem) {
  .plan-hero__tagline {
    padding-right: 0;
  }
}

@media (min-width: 64rem) {
  .create-plan {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 16rem 1fr;
        grid-template-columns: 16rem 1fr;
    gap: 7.5rem;
  }
}

@media (min-width: 90rem) {
  .create-plan {
    padding: 0 5.3125rem;
  }
}

.create-plan__nav {
  display: none;
}

@media (min-width: 64rem) {
  .create-plan__nav {
    display: block;
    counter-reset: subscription-form-nav;
  }
}

.create-plan__nav__item {
  width: 100%;
  padding: 1.5rem 0;
  counter-increment: subscription-form-nav;
  opacity: 0.5;
}

.create-plan__nav__item:not(:last-of-type) {
  border-bottom: 1px solid #83888f;
}

.create-plan__nav__item::before {
  content: "0" counter(subscription-form-nav);
  margin-right: 1.5rem;
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  opacity: 0.5;
}

.create-plan__nav__item:hover {
  opacity: 1;
}

.create-plan__nav__item__link {
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #83888f;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.create-plan__nav__item__link:focus {
  outline: 0;
}

.create-plan__nav__item__link:active {
  color: #2C343E;
}

.create-plan__group__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: 48rem) {
  .create-plan__group__toggle {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 64rem) {
  .create-plan__group__toggle {
    margin-bottom: 2.5rem;
  }
}

.create-plan__group__toggle:focus {
  outline: none;
}

.create-plan__group__toggle:focus > .create-plan__group__toggle__text {
  color: #2C343E;
}

.create-plan__group__toggle:focus > .create-plan__group__toggle__text::after {
  height: 2px;
  width: 100%;
}

.create-plan__group__toggle:hover .create-plan__group__toggle__text {
  color: #2C343E;
}

.create-plan__group__toggle:disabled .create-plan__group__toggle__text {
  color: #83888f;
  opacity: 0.5;
  cursor: not-allowed;
}

.create-plan__group__toggle.is-open + .create-plan__form__options {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 4rem;
  opacity: 1;
}

@media (min-width: 64rem) {
  .create-plan__group__toggle.is-open + .create-plan__form__options {
    padding-bottom: 5rem;
  }
}

.create-plan__group__toggle__text {
  position: relative;
  display: inline-block;
  margin-right: 4rem;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #83888f;
  text-align: left;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.create-plan__group__toggle__text::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  height: 0px;
  width: 0%;
  background-color: #2C343E;
  -webkit-transition: height 200ms ease-in-out, width 200ms ease-in-out;
  transition: height 200ms ease-in-out, width 200ms ease-in-out;
}

.create-plan__group__toggle__text:hover {
  color: #2C343E;
}

@media (min-width: 48rem) {
  .create-plan__group__toggle__text {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media (min-width: 64rem) {
  .create-plan__group__toggle__text {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

.create-plan__group__toggle__icon {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.is-open .create-plan__group__toggle__icon {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.create-plan__form__options {
  height: 0px;
  border: none;
  margin: 0 0 2rem;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@media (min-width: 48rem) {
  .create-plan__form__options {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 1.5rem;
  }
}

.create-plan__form__label {
  display: block;
  height: 100%;
  padding: 1.5rem;
  border-radius: 0.625rem;
  background-color: #f4f1eb;
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
  line-height: 2rem;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.create-plan__form__label:not(:last-child) {
  margin-bottom: 1rem;
}

@media (min-width: 48rem) {
  .create-plan__form__label:not(:last-child) {
    margin-bottom: unset;
  }
}

.create-plan__form__label:hover {
  background-color: #fdd6ba;
  cursor: pointer;
}

@media (min-width: 48rem) {
  .create-plan__form__label {
    padding: 2rem 1.5rem 5.25rem;
  }
}

.create-plan__form__details {
  display: block;
  padding-top: 0.5rem;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  line-height: 1.625rem;
}

.create-plan__form__radio:focus + .create-plan__form__label {
  background-color: #fdd6ba;
}

.create-plan__form__radio:checked + .create-plan__form__label {
  background-color: #0e8784;
  color: #fefcf7;
}

.create-plan__form__radio:checked + .create-plan__form__label .create-plan__form__details {
  color: #fefcf7;
}

.create-plan__form__submit {
  display: block;
  margin: auto;
}

@media (min-width: 64rem) {
  .create-plan__form__submit {
    margin-right: 0;
  }
}

.order-summary {
  margin-bottom: 3.5rem;
  padding: 2rem 1.5rem;
  border-radius: 0.625rem;
  background-color: #2C343E;
}

.order-summary:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 1px 2px #fff, 0 0 3px 4px #0e8784;
          box-shadow: 0 0 1px 2px #fff, 0 0 3px 4px #0e8784;
}

@media (min-width: 48rem) {
  .order-summary {
    padding: 1.75rem 2.75rem;
  }
}

@media (min-width: 64rem) {
  .order-summary {
    padding: 1.75rem 4rem;
  }
}

.order-summary__heading {
  padding-bottom: 0.5rem;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.5;
}

.order-summary__text {
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
  line-height: 3rem;
}

.order-summary__text--light {
  color: #fff;
}

.order-summary__text--dark {
  color: #83888f;
}

.order-summary__choice {
  color: #0e8784;
  text-transform: capitalize;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 85%;
  min-width: 17rem;
  max-width: 33.75rem;
  border-radius: 0.625rem;
  overflow: hidden;
  z-index: 3;
}

.modal__header {
  background-color: #2C343E;
}

.modal__heading {
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #fefcf7;
}

@media (min-width: 23rem) {
  .modal__heading {
    padding: 1.7rem 1.5rem;
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

@media (min-width: 48rem) {
  .modal__heading {
    padding: 3rem 3.5rem 2.5rem;
  }
}

.modal__main {
  padding: 1.5rem 1.5rem 1rem;
  background-color: #fefcf7;
}

@media (min-width: 23rem) {
  .modal__main {
    padding: 2.5rem 1.5rem 1.5rem;
  }
}

@media (min-width: 48rem) {
  .modal__main {
    padding: 3.5rem;
  }
}

.modal__summary {
  margin-bottom: 0.5rem;
  font-family: "Fraunces", serif;
  font-size: 1.25rem;
  line-height: 2rem;
  color: #83888f;
}

@media (min-width: 23rem) {
  .modal__summary {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

.modal__text {
  margin-bottom: 1rem;
}

@media (min-width: 23rem) {
  .modal__text {
    margin-bottom: 2rem;
  }
}

@media (min-width: 48rem) {
  .modal__text {
    margin-bottom: 3rem;
  }
}

.modal__btn {
  display: block;
  width: 100%;
}

@media (min-width: 48rem) {
  .modal__btn {
    width: 50%;
    margin-left: 50%;
  }
}

.modal__price {
  display: inline-block;
}

@media (min-width: 48rem) {
  .modal__price {
    position: absolute;
    left: 3.5rem;
    font-size: 2rem;
    color: #2C343E;
  }
}

.how-to, .how-to--dark-bg {
  max-width: 80rem;
  margin-bottom: 7.5rem;
  padding: 0 1.5rem;
  text-align: center;
}

@media (min-width: 48rem) {
  .how-to, .how-to--dark-bg {
    padding: 0 2.5rem;
    text-align: left;
  }
}

@media (min-width: 64rem) {
  .how-to, .how-to--dark-bg {
    padding: 0 6.125rem;
    margin: 0 5rem 7.5rem;
  }
}

@media (min-width: 90rem) {
  .how-to, .how-to--dark-bg {
    max-width: 80rem;
    margin: 0 auto 7.5rem;
    padding: 0 5.3125rem;
  }
}

.how-to__heading {
  padding-bottom: 5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #83888f;
}

@media (min-width: 48rem) {
  .how-to__heading {
    padding-bottom: 3.5rem;
  }
}

@media (min-width: 64rem) {
  .how-to__heading {
    padding-bottom: 6rem;
  }
}

.how-to__info {
  counter-reset: how-to-counter;
  margin-bottom: 4.75rem;
}

@media (min-width: 48rem) {
  .how-to__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2.75rem;
  }
}

@media (min-width: 64rem) {
  .how-to__info {
    margin-bottom: 4rem;
  }
}

.how-to__step {
  position: relative;
  counter-increment: how-to-counter;
}

.how-to__step:not(:last-of-type) {
  margin-bottom: 3.5rem;
}

@media (min-width: 48rem) {
  .how-to__step:not(:last-of-type) {
    margin-bottom: unset;
  }
  .how-to__step:not(:last-of-type)::after {
    content: '';
    position: absolute;
    top: 0;
    left: 1rem;
    width: 100%;
    height: 2px;
    border: 1px solid #fdd6ba;
  }
}

@media (min-width: 48rem) {
  .how-to__step {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 7rem 9.125rem auto;
        grid-template-rows: 7rem 9.125rem auto;
    padding-right: 1rem;
  }
}

@media (min-width: 64rem) {
  .how-to__step {
    -ms-grid-rows: 9.625rem 9.5625rem auto;
        grid-template-rows: 9.625rem 9.5625rem auto;
    padding-right: 6rem;
  }
}

.how-to__step::before {
  content: "0" counter(how-to-counter);
  font-family: "Fraunces", serif;
  font-size: 4.5rem;
  line-height: 4.5rem;
  color: #fdd6ba;
}

@media (min-width: 48rem) {
  .how-to__step::before {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

.how-to__step__circle {
  display: none;
}

@media (min-width: 48rem) {
  .how-to__step__circle {
    position: absolute;
    display: block;
    height: 2rem;
    width: 2rem;
    border: 2px solid #0e8784;
    border-radius: 50%;
    background-color: #fefcf7;
    -webkit-transform: translateY(calc(-50% + 2px));
            transform: translateY(calc(-50% + 2px));
    z-index: 2;
  }
  .how-to__step__circle.dark-bg {
    background-color: transparent;
  }
}

.how-to__step__heading {
  margin: 1.5rem 0;
  font-size: 1.75rem;
  line-height: 2rem;
}

.how-to__step__heading.dark-bg {
  color: #fefcf7;
}

@media (min-width: 48rem) {
  .how-to__step__heading {
    margin: 2.625rem 0 2.5rem;
  }
}

@media (min-width: 64rem) {
  .how-to__step__heading {
    margin: 2.375rem 0 2.625rem;
  }
}

@media (min-width: 90rem) {
  .how-to__step__heading {
    font-family: 2rem;
    line-height: 2.25rem;
  }
}

.how-to__step__details {
  max-width: 28rem;
  margin: 0 auto;
}

.how-to__step__details.dark-bg {
  color: #fefcf7;
}

.how-to--dark-bg {
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-radius: 0.625rem;
  background-color: #2C343E;
}

@media (min-width: 48rem) {
  .how-to--dark-bg {
    margin-bottom: 9rem;
    padding-top: 7rem;
    padding-bottom: 6rem;
  }
}

@media (min-width: 64rem) {
  .how-to--dark-bg {
    margin: 0 5rem 10.5rem;
    padding: 7.25rem 5.3125rem 6.25rem;
  }
}

@media (min-width: 90rem) {
  .how-to--dark-bg {
    max-width: 80rem;
    margin: 0 auto 10.5rem;
    padding: 7.25rem 5.3125rem 6.25rem;
  }
}
/*# sourceMappingURL=styles.css.map */