// colors

$darkCyan: rgb(14, 135, 132);
$cyan: rgb(102, 210, 207);
$darkGreyBlue: #2C343E;
$paleOrange: rgb(253, 214, 186);

$lightCream: rgb(254, 252, 247);
$lightCreamGradient: rgba(254, 252, 247, 0.56);

$white: #fff;
$cream: rgb(244, 241, 235);
$grey: rgb(131, 136, 143);
$lightTaupe: rgb(226, 222, 219);

$overlayColor: rgba(0,0,0,0.5);

// font-family: 
$heading: 'Fraunces', serif;
$body: 'Barlow', sans-serif;

//font-weights: 
$regular: 400;
$bold: 700;

// border-radius
$border-radius: 0.625rem;

//spacing
$inner-pad-sm: 1.5rem;
$inner-pad-med: 3.625rem;
$inner-pad-lg: 5.3125rem;