.mobile-nav {
    position: absolute;
    height: 100vh;
    top: 5rem;
    right: 0;
    left: 0;
    background-image: linear-gradient($lightCream 35%, $lightCreamGradient);
    z-index: 4;

    @include breakpoint-up(medium) {
        display: none;
    }
}

.mobile-nav__toggle {
    position: relative;
    height: 3rem;
    width: 3rem;
    padding: 1rem           ;
    border: 0;
    background: transparent;
    transform: translateX(1rem);

    & img {
        position: absolute;
        transform: translate(-50%, -50%);
    }

    @include breakpoint-up(medium) {
        display:none;
    }
}

.mobile-nav__list {
    list-style-type: none;
    padding: 2.5rem 0;
}

.mobile-nav__link {
    display: block;
    padding-bottom: 2.5rem;
    text-align: center;
    text-decoration: none;
    font-family: $heading;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $darkGreyBlue;
}