.about-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem $inner-pad-sm 5.5rem;
    border-radius: $border-radius;
    background-image: url('/assets/about/mobile/image-hero-whitecup.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    text-align: center;

    @include breakpoint-up(medium) {
        align-items: flex-start;
        padding: 7.375rem $inner-pad-med;
        background-image: url('/assets/about/tablet/image-hero-whitecup.jpg');
        text-align: left;
    }

    @include breakpoint-up(large) {
        padding: 8.5rem $inner-pad-lg;
        background-image: url('/assets/about/desktop/image-hero-whitecup.jpg');
    }
}

.about-hero__headline {
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
    line-height: 1.75rem;
    color: $lightCream;

    @include breakpoint-up(medium) {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    @include breakpoint-up(large) {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

.about-hero__tagline {
    max-width: 26rem;
    color: $lightCream;
    opacity: 0.8;
}