.about-commitment {
    text-align: center;

    @include breakpoint-up(medium) {
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        gap: 4.25rem;
        text-align: left;
    }

    @include breakpoint-up(large) {
        padding: 0 $inner-pad-lg;
        grid-template-columns: 1fr 1.2fr;
        gap: 7.75rem;
    }
}



.about-commitment__img {
    margin-bottom: 3rem;
    height: 25rem;
    width: 100%;
    border-radius: $border-radius;
    background-image: url('/assets/about/mobile/image-commitment.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    @include breakpoint-up(medium) {
        height: 29.375rem;
        margin-bottom: 0;
        background-image: url('/assets/about/tablet/image-commitment.jpg');
    }

    @include breakpoint-up(large) {
        height: 32.5rem;
        background-image: url('/assets/about/desktop/image-commitment.jpg');
    }
}

.about-commitment__copy {
    @include breakpoint-up(large) {
        align-self: center;
    }
}

.about-commitment__headline {
    margin-bottom: 1.875rem;
    font-size: 2rem;
    line-height: 3rem;
}