.collection {
    position: relative;
    text-align: center;
}

.collection__heading {
    position: relative;
    padding-bottom: 1.5rem;
    font-size: 2.25rem;
    line-height: 4.5rem;
    color: $grey;

    @include breakpoint-up(medium) {
        padding-bottom: 0;
        font-size: 6rem;
        line-height: 4.5rem;
    }

    @include breakpoint-up(xlarge) {
        font-size: 9.375rem;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 2.5rem;
        right: 0;
        left: 0;
        background-image: linear-gradient(rgba(254, 252, 247, 0.0001) 0%, $lightCream 100%);

        @include breakpoint-up(medium) {
            top: -6rem;
            bottom: -2rem;
        }
    }
}

.collection__list {
    position: relative;
    display: flex;
    padding: 0 1.25rem;
    flex-direction: column;
    align-items: center;

    @include breakpoint-up(medium) {
        margin-top: -1.5rem;
    }

    @include breakpoint-up(xlarge) {
        flex-direction: row;
        justify-content: space-between;
        margin-top: -1rem;
        padding: 0 5.75rem;
    }

}

.collection__item {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
        margin-bottom: 3rem;

        @include breakpoint-up(medium) {
            margin-bottom: 2rem;
        }

        @include breakpoint-up(xlarge) {
            margin-bottom: 0;
        }
    }

    @include breakpoint-up(medium) {
        flex-direction: row;
    }

    @include breakpoint-up(xlarge) {
        flex-direction: column;
        align-items: center;
        max-width: 15.9375rem;
    }
}

.collection__item__pic {
    height: 9.5rem;
    margin-bottom: 1.5rem;

    @include breakpoint-up(medium) {
        height: 12rem;
        margin-bottom: 0;
    }
}

.collection__item__img {
    display: block;
    margin: auto;
    height:100%;

}

.collection__item__info {
    
    @include breakpoint-up(medium) {
        text-align: left;
    }

    @include breakpoint-up(xlarge) {
        text-align: center;
    }
}

.collection__item__heading {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;

    @include breakpoint-up(medium) {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    @include breakpoint-up(xlarge) {
        margin-top: 4.5rem;
    }
}

.collection__item__description {
    max-width: 20rem;
    font-size: 0.9375rem;
    line-height: 1.5625rem;

    @include breakpoint-up(xlarge) {
        font-size: 1rem;
        line-height: 1.625rem;
    }
}
