.why-us {
    position: relative;
    padding: 4rem $inner-pad-sm 0;
    text-align: center;

    @include breakpoint-up(medium) {
        padding: 3.5rem $inner-pad-med 0;
    }

    @include breakpoint-up(xlarge) {
        padding: 6.25rem $inner-pad-lg 0;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 62%;
        border-radius: $border-radius;
        background-color: $darkGreyBlue;
        z-index: -1;

        @include breakpoint-up(medium) {
            height: 68%;
        }
    }
}

.why-us__heading {
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
    line-height: 1.75rem;
    color: $lightCream;

    @include breakpoint-up(medium) {
        font-size: 2rem;
        line-height: 3rem;
    }

    @include breakpoint-up(xlarge) {
        margin-bottom: 2rem;
        font-size: 2.5rem;
    }
}

.why-us__tagline {
    max-width: 35rem;
    margin: 0 auto 4rem;
    color: $lightCream;

    @include breakpoint-up(medium) {
        margin-bottom: 4.375rem;
    }

    @include breakpoint-up(xlarge) {
        max-width: 33.75;
        margin-bottom: 5.375rem;
    }
}

.why-us__benefits {
    
    @include breakpoint-up(large) {
        display: flex;
        flex-direction: row;
    }
}

.why-us__card {
    padding-bottom: 3.25rem;
    padding-top: 4.5rem;
    border-radius: 0.5rem;
    background-color: $darkCyan;

    @include breakpoint-up(medium) {
        display: flex;
        text-align: left;
        align-items: center;
        padding: 2.5rem 0;
    }

    @include breakpoint-up(large) {
        flex-direction: column;
        align-items: center;
        padding: 4.5rem 0 3rem;

    }

    &:not(:last-child) {
        margin-bottom: 1.5rem;

        @include breakpoint-up(large) {
            margin-bottom: 0;
            margin-right: 1.875rem;
        }
    }
}

.why-us__card__img {
    margin-bottom: 3.5rem;

    @include breakpoint-up(medium) {
        margin: 0;
        padding: 0 3.25rem 0 4.375rem;

    }

    @include breakpoint-up(large) {
        display: flex;
        align-items: center;
        padding: 0;
        margin-bottom: 3.5rem;
        height: 4.5rem;
        text-align: center;


    }
}


.why-us__card__copy {
    @include breakpoint-up(large) {
        text-align: center;
    }
}

.why-us__card__heading {
    padding: 0 1rem 1.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $lightCream;

    @include breakpoint-up(small) {
        padding: 0 0 1.5rem;
    }

    

    @include breakpoint-up(medium) {
        padding-bottom: 1rem;
    }
}

.why-us__card__tagline {
    max-width: 26.25rem;
    margin:auto;
    padding: 0 2rem;
    color: $lightCream;

    @include breakpoint-up(medium) {
        max-width: unset;
        padding: 0;
        padding-right: 3rem;
    }

    @include breakpoint-up(large) {
        padding: 0 3rem;
    }
}